@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    /* height: 100%;
    width: 100%; */
    font-family: 'Inter';
    font-size: 78%;
    background-color: #E0E9F1;
}


* {
    box-sizing: border-box;
}

#root {
    height: 100%;
    width: 100%;
}